<!-- index.html -->
{% extends 'base.html' %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="header">
    <h1>Happy Cinema</h1>
    <img src="../static/Images/popcorn.svg" class="popcorn">
</div>
<div class="container">
    <div class="container-header">
        <h1>Discover Fresh Cinema a New Movie Experience</h1>
    </div>
    <div class="container-subheader">
        <p>
            Enter a movie title, and unlock a world of tailored recommendations. Our intelligent algorithm analyzes your favorite films, suggesting a handpicked selection that matches your taste. Dive into a personalized movie journey, discovering new favorites based on what you love
        </p>
    </div>
    <div class="input">
        <form action="/" method="POST">
            <input type="text" name="title" class="userTitle" placeholder="Enter movie title...">
        </form>
    </div>
    {% if movie %}
    <div class="title">
        <h1>{{ movie[0] }}</h1>
    </div>
    <div class="movie-info">
        <div class="title-genre">
            <ul>
                <li>
                    Genre: {{ movie[2] }}
                </li>
            </ul>
        </div>
        <div class="description">
            <ul>
                <li>
                    Description: {{ movie[1] }}
                </li>
            </ul>
        </div>
    </div>



</div>
    {% endif %}
{% endblock %}
